{{#partial "content"}}

    <h2>Operation done successfully.</h2>
    <a href="/new">Go back to the homepage</a>
    </div>


    <style>
        body{

background-image:url("");
        background-size: cover;
        background-repeat: no-repeat;
/*         color:white; */
        font-family: 'Lobster', cursive;
        }
        h1,h2{
        text-align:center;
        }
        h1{
        height: 80%;
        }
        </style>
{{/partial}}

{{> layout.hbs}}